<h1>Search#index</h1>

<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q, "Search for Artist:") %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Artist" %>
  <%= submit_tag("Search") %>
<% end %>

<% if @artists %>
  <% for @artist in @artists %>
    <h3><%= @artist['name'] %><h3>
  <% end %>
<% end %>
