<%= form_tag("/", method: "get") do %>
  <%= label_tag(:q, "Search for Artist:") %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Artist" %>
  <%= submit_tag("Search") %>
<% end %>

<% if @top_tracks %>
  <h2>Top Recommended Tracks by Artist</h2>
  <table class="table table-bordered table-striped">
    <thead>
        <tr>
          <th>Title</th>
          <th>Duration</th>
          <th>Artist</th>
        </tr>
    </thead>
    <tbody>
      <% for @track in @top_tracks %>
        <tr>
          <td><%= @track['name'] %></td>
          <td><%= @track['duration'] %></td>
          <td><%= @track['artist']['name'] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if @artists %>
  <h2>Similar artists</h2>
  <% for @artist in @artists %>
    <p><%= @artist['name'] %></p>
  <% end %>
<% end %>
